body
{
  margin: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  overflow: hidden;
  background: rgb(17,17,19);
  color: white;
  justify-content: center;
}

canvas
{
  position:absolute;
  top: 0;
  left: 0;
  display:block;
  z-index: -1;
}

.main
{
  border: 3px solid rgba(255,40,40,0.5);
  width: 500px;
  height: 700px;
  background: rgba(17,17,19,0.8);
  position: relative;
  display: flex;
  flex-flow: column;
  top: 10%;
  align-items: center;
}

.login_plate
{
  border: 3px solid rgba(255,40,40,0.5);
  width: 300px;
  height: 30px;
  background: rgba(17,17,19,0.8);
  position: relative;
  display: flex;
  flex-flow: row;
  top: 45%;
  align-items: center;
  justify-content: center;
}

input[name = 'username']
{
  width: 60%;
  margin-left: 2%;
}

input[name = 'submit']
{
  width: 30%;
  margin-left: 2%;
}

.profile
{
  width: 150px;
  margin-left: 320px;
  margin-top: 10px;
}

.chatBox
{
  border: 1px solid rgba(255,40,40,1);
  overflow-y: scroll;
  background-color: white;
  color: black;
  width: 452px;
  height: 470px;
  margin-top: 7px;
}

textarea
{
  border: 1px solid rgba(255,40,40,1);
  background-color: white;
  color: black;
  width: 450px;
  height: 100px ;
  margin-top: 7px;
}

input[name = 'send']
{
  width: 100px;
  margin-top: 5px;
  margin-left: 200px;

}
